# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
.venv-2/
venv/
env/

# Variables de entorno
.env
.env.*

# Base de datos local
*.db
*.sqlite3

# Logs
*.log
uvicorn.log

# Archivos temporales
tmp_*.json
*.tmp

# IDE
.vscode/
.idea/